//colors
$color_fountain_blue_approx: #64b7cc;
$color_blue_ribbon_10_approx: rgba(0,68,255,0.1);
$color_coral_red_approx: #f13e3e;
$black_20: rgba(0,0,0,.2);
$black_10: rgba(0,0,0,0.1);
$color_tundora_approx: #444;
$color_wild_sand_approx: #f5f5f5;
$seashell: #f1f1f1;
$color_mine_shaft_approx: #333;
$color_pumice_approx: #c6c6c6;
$color_desert_storm_approx: #f8f8f8;
$color_cornflower_blue_approx: #4d90fe;
$color_royal_blue_approx: #357ae8;
$color_cerulean_blue_approx: #2f5bb7;
$white: #fff;
$black_33_3: rgba(0,0,0,.333);
$color_gallery_approx: #eee;
$color_bon_jour_approx: #e0e0e0;
$color_celeste_approx: #ccc;
$gray:  gray;
$color_silver_chalice_approx: #adadad;
$color_storm_dust_approx: #666;

//fonts
$font: Arial, sans-serif;

// MQ
$fullscreen: screen and (min-width: 641px);

//@extend-elements

%submit_modal {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	position: fixed;
	height: auto;
	width: 100%;
	@media #{$fullscreen} {
		width: 600px;
	}
}

%modal {
	z-index: 40000;
	background: $white;
	border: 1px solid $black_33_3;
	padding: 15px 20px;
	width: 100%;
	border: 1px solid $black_33_3;
	outline: 0;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 4px 16px $black_20;
	background: $white;
	//Instead of the line below you could use @include background-clip($clip)
	background-clip: padding-box;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	@media #{$fullscreen} {
		width: 540px;
	}
}

%text-reset {
	font-family: Arial, sans-serif;
	color: black;
	font-size: 14px;
}

%error {
	display: none;
	color: $color_coral_red_approx;
	margin-right: 30px;
	font-size: 13px;
	@media #{$fullscreen} {
		float: right;
	}
}

%input {
	@extend %text-reset;
	outline: none;
	border: 1px solid $gray;
	width: 100%;
	padding: 5px;
	@media #{$fullscreen} {
		width: 314px;
	}
}

// general resets
#ftbk-feedback-module {
	button {
		margin: 0;
		@extend %text-reset;
	}
	p, input, textarea, select {
		@extend %text-reset;
		font-size: 13px;
	}
	h3 {
		@extend %text-reset;
		font-weight: normal;
		font-size: 15px;
		margin: 8px 0;
	}
}

.ftbk-fixed {
	overflow: hidden !important;
	height: auto !important;
}

.ftbk-feedback-btn {
	margin: 0;
	@extend %text-reset;
	font-size: 14px;
	position: fixed;
	bottom: -3px;
	right: 10px;
	width: auto;
	padding: 10px;
	outline: 0;
	//Instead of the line below you could use @include background-clip($clip)
	background-clip: padding-box;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 4px 16px $black_20;
	z-index: 40000;

	@media #{$fullscreen} {
		right: 60px;
	}
}

.ftbk-feedback-btn-gray {
	text-align: center;
	cursor: pointer;
	border: 1px solid $black_10;
	color: $color_tundora_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 2px;
	background-image: linear-gradient(to bottom,$color_wild_sand_approx,$seashell);
	&:hover {
		color: $color_mine_shaft_approx;
		border: 1px solid $color_pumice_approx;
		background-image: linear-gradient(to bottom,$color_desert_storm_approx,$seashell);
	}
}

.ftbk-feedback-btn-blue {
	text-align: center;
	cursor: pointer;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 2px;
	background-image: linear-gradient(to bottom,$color_cornflower_blue_approx,$color_royal_blue_approx);
	border: 1px solid $color_cerulean_blue_approx;
	color: $white;
}

.ftbk-feedback-buttons {
	float: right;
	margin-top: 10px;
	clear: both;
}

.ftbk-feedback-logo {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 18px;
}

#ftbk-feedback-note-tmp {
	resize: none;
	width: 444px;
	height: auto;
	min-height: 90px;
	outline: none;
	padding: 4px;
	&:focus {
		border: 1px solid $color_fountain_blue_approx;
	}
}
#ftbk-feedback-overview-note {
	resize: none;
	height: 120px;
	outline: none;
	border: 1px solid $gray;
	width: 100%;
	padding: 5px;
	&:focus {
		border: 1px solid $color_fountain_blue_approx;
	}
	@media #{$fullscreen} {
		width: 314px;
	}
}
#ftbk-feedback-overview-title,
#ftbk-feedback-email {
	@extend %input;
	&:focus {
		border: 1px solid $color_fountain_blue_approx;
	}
}
#ftbk-feedback-canvas,
#ftbk-feedback-canvas-tmp {
	position: absolute;
	top: 0;
	left: 0;
}
#ftbk-feedback-welcome {
	top: 30%;
	left: 50%;
	margin-left: -270px;
	display: block;
	position: fixed;
	@extend %modal;
}
.ftbk-feedback-next-btn,
.ftbk-feedback-back-btn,
.ftbk-feedback-submit-btn,
.ftbk-feedback-close-btn {
	width: 72px;
	height: 29px;
	line-height: 27px;
	float: right;
	font-size: 13px;
	padding: 0 8px;
}
.ftbk-feedback-back-btn {
	margin-right: 20px;
}

.ftbk-feedback-helper {
	background: rgba(0,0,0,0);
	cursor: default;
}
#ftbk-feedback-close {
	cursor: pointer;
	position: absolute;
	width: 30px;
	height: 30px;
}
.ftbk-feedback-wizard-close {
	cursor: pointer;
	position: absolute;
	top: 2px;
	right: 2px;
	width: 30px;
	height: 30px;
	opacity: 0.65;
	&:hover {
		opacity: 1;
	}
}
#ftbk-feedback-welcome-error {
	@extend %text-reset;
	@extend %error;
}
#ftbk-feedback-overview-error {
	@extend %text-reset;
	@extend %error;
	margin-top: 10px;
	max-width: 50%;
}
#ftbk-feedback-highlighter {
	display: none;
	right: 100px;
	top: calc(100vh - 100px - 148px);
	position: fixed;
	width: 540px;
	@extend %modal;
	label {
		float: left;
		margin: 0 0 0 10px;
		line-height: 30px;
		font-size: 13px;
		font-weight: normal;
		&.lower {
			margin-top: 10px;
		}
	}
}
#ftbk-feedback-overview {
	display: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: fixed;
	width: 840px!important;
	height: auto;
	@extend %modal;
	max-width: 100% !important;
}
#ftbk-feedback-submit-error,
#ftbk-feedback-submit-success {
	@extend %submit_modal;
	@extend %modal;
}

.ftbk-feedback-additional {
	margin-bottom: 20px!important;
}
#ftbk-feedback-overview-description {
	@media #{$fullscreen} {
		float: left;
	}
}
#ftbk-feedback-overview-screenshot {
	display: none;
	float: right;
	max-width: 50%;
	position: relative;
	@media #{$fullscreen} {
		display: block;
	}
}
#ftbk-feedback-image-dropzone {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9;
	&.replace-image {
		&::after {
			content: '+';
			color: rgba(white, .8);
			font-size: 150px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
#ftbk-feedback-screenshot {
	width: 396px;
	max-width: 100%;
	padding: 1px;
	border: 1px solid $color_silver_chalice_approx;
}
#ftbk-feedback-browser-info,
#ftbk-feedback-page-info,
#ftbk-feedback-page-structure,
#ftbk-feedback-additional-none {
	margin-top: 16px;
	display: none;
}
.ftbk-feedback-helper[data-type="highlight"] > .ftbk-feedback-helper-inner {
	background: $color_blue_ribbon_10_approx;
}
#ftbk-feedback-overview-description-text span {
	font-size: 14px;
	margin: 8px 0;
	color: $color_storm_dust_approx;
	padding-left: 10px;
	margin-left: 26px;
}

.ftbk-feedback-wizard-close {
	background: none;
	border: none;
	font-size: 0 !important;
	&::after {
		padding-top: 5px;
		display: inline-block;
		font-size: 18px;
		content: '✕';
	}
}

.ftbk-feedback-rehighlighted {
	position: absolute;
	border: 4px solid black;
}